body {
background-color: rgb(255, 0, 0); /*cor do fundo da pagina*/
color: rgb(0, 0, 0); /* cor da escrita*/
font-family:"Roboto Slab", sans-serif;
}

header {
border: solid 2px black;
font-size: 32px;
padding: 10px;
color: crimson;

}
section {
    background-color: #0e0c93;
    padding-bottom: 80px;
    padding-top: 80px;
    display:flex;
    justify-content: center; 
}

.chamada-texto{
margin-right: 5%;
}

h1{
    font-size: 30px;           /* tamanho da fonte */
    text-align: center;        /* centralizado */
    text-transform: uppercase; /* letras maiúsculas */
}

p{
    font-size: 16px;
    color: firebrick;
}